<!DOCTYPE html>
<html lang="ms-MY">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cikgu - {% block title %}SPM Online Learning{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="min-h-screen flex flex-col bg-base-200">
    {% include 'header.html' %}

    <main class="flex-1">
        {% block content %}{% endblock %}
    </main>

    {% include 'footer.html' %}

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>